@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
    url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

#__next,
#portal {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: overlay;
}

#portal {
  z-index: 1;
}
